.backpicture{
      background-image: url("../img/alerting.jpg");
    background-size: cover; 
    -webkit-filter: blur(0px);
     z-index: -1;
}
.container {
    height: 90vh;
    width: 100%;
    padding-top: 1px;
  
}

.container>.monitoring-container {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
    width: 55%;
    margin-top: 10%;
    margin-left: 23%;
 background-color: #04071881;
 padding: 5%;

}

.container>.monitoring-container>.slogan {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 10px;
}

.container>.monitoring-container>.text {
    margin-top: 30px;
    font-size: 1.1rem;
    line-height: 35px;
    margin-bottom: 30px;
}

.container>.monitoring-container>.btn-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.container>.monitoring-container>.btn-container>button {
    border-radius: 10px;
    background: #040718;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 100ms ease-in;
    border: none;
    margin-left: 200px;
}

.container>.monitoring-container>.btn-container>button>a {
    color: rgba(255, 255, 255, 0.959);
    text-decoration: none;
}

.container>.monitoring-container>.btn-container>button:active {
    transform: scale(0.95);
}

.container>.monitoring-container>.btn-container>button:focus {
    outline: none;
    cursor: pointer;
}

.container>.monitoring-container>.btn-container>button:hover {
    cursor: pointer;
    background-color: rgba(15, 15, 94, 0.579);
  
    transition: all 0.4s ease-out;
}

.container .monitoring-container .btn-container button.ghost {
    background-color: transparent;
}



