.rapport-container{
    padding-top: 7%;
    margin-left: 25%;
    width: 65%;
}
.Grand-titre{
    font-size: xx-large;
    color: #455de0;
}
.sous-titre{
    margin-left: 10%; 
    display: flex;   
}
.sous-titre-elem{
    padding: 2%;
    display: flex;
    font-size:x-large;
    
}
.head-related-info{
  padding-left: 3%;
  color: rgb(83, 83, 83);
}
.element-line{
        background-color: #f2f2f2;
        display: flex;
        margin-bottom: 1%;
        justify-content: space-between;
}
.elem-rapport{

    border-radius: 5px;
    display:block;
    padding: 0.5%;
    margin: 1%;
    width: 50%;
}
.titre-elem{
    padding: 0% 0% 0% 1%;
    font-size:large;
    margin-bottom: 0.2%;
}
.related-info{
    background-color: #ffffffa6;
    margin-top:-2%;
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
}
.related-info>a{
    color: #020930;
}
.inline-items{
    display: flex;
    justify-content: space-between;
}
.icon-rapport{
    padding: 2%;
    color: #020930;
}
.icon-rapport:hover{
cursor: pointer;
color: #020930c0;
}
.btn-rapport{
    padding: 3%;
    display: flex;
    justify-content: space-between;
}
.btn-next{
    background-color: #197205;
    padding: 1%;
    border-radius: 5px;
}

.btn-modifier{
    padding: 1%;
    float: right;
    margin-right: 1%;
    border-radius: 5px;
  
    width: 14%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.text-next-rapp-mod{
      font-size: large;
    font-weight: bold;
    color: #455de0;
    text-decoration: none;
}
.text-next-rapp-mod:hover{
    font-size: larger;
    color: chocolate;
}
.text-next-rapp{
    color: aliceblue;
    text-decoration: none;
}
.btn-next:hover{
   background-color: #f2f2f2; 
    
}
.text-next-rapp:hover{
    color: #020930;
}
.text-next-rapp-attacher{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #455de0;
}
.text-next-rapp-attacher:hover{
    font-size: larger;
    color: chocolate;
}
.inline-items-declaration{
    padding: 3%;
    display: flex;
    justify-content:right;
    width: 80%;
}
.submit{
    padding: 0% 2% 0% 2%;
    border-radius: 5px;
    border: none;
    margin-left: 20%;
    height: 75%;
    font-size:medium;
}

.submit:hover{
    background-color: #f2f2f2;
    cursor: pointer;
  
}
.attacher{
    color:#020930;
    background-color: transparent;
    padding: 0% 2% 0% 2%;
    border-radius: 5px;
    border: none;
    height: 35px;
    margin-top: 3%;
    font-size:medium;
    margin-bottom: 5%;

}
.traité{
    background-color: #62df1a;
    
}
.EnCours{
    color:rgb(248, 95, 7); 
    background-color: transparent;
    font-weight: bold;
}
.valider{
    background-color: #62df1a;
}
.rejeter{
    color:rgb(248, 95, 7) ;/*#455de0;*/
    
    background-color: transparent;
    font-weight: bold;
    font-size: large;
}
.confirmation-déclaration{
    position:absolute;
  background-color: #d7d8d8;
  border-radius: 5px;
  padding-top: 1%;
  margin-right: 50%;
  width: 350px;
  height: 150px;
  top:90%;
  right: 0px;
  left: 45%;
  float: left;
}
.confirmation-déclaration-valider{
    position:absolute;
    background-color: #d7d8d8;
    border-radius: 5px;
    padding-top: 1%;
    margin-right: 50%;
    width: 400px;
    height: 220px;
    top:30%;
    right: 0px;
    left: 40%;
    float: left;
}
.form-input-declaration{
    display: block;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    height: 40px;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10%;
    border: none;
    background-color:#f2f2f2;;
    color: #595959;
    font-size: 12px;
}

.form-input-declaration-rej{
    display: block;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    height: 50px;
    width: 70%;
    margin-left: 13%;
    margin-bottom: 10%;
    border: none;
    background-color:#f2f2f2;;
    color: #595959;
    font-size: 12px;
}