.milieu-consultation{
  margin-left: 26%;
  width: 70%;
}
.barre-recherche{ 
  float:right;
  margin-top: 5%;
  margin-bottom: 5%; 
   border-bottom: #020930 solid 1px;
}

input{
 width: 210px;
 padding-top: 3%;
 padding-bottom: 3%;
 padding-left: 2%;
  border-style: none;
  font-size: 15px;
  outline: none;
  transition: all .5s ease-in-out;
  
  color:#020930;

}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
   
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: rgba(248, 95, 7, 0.658);}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#b6b2b2 ;
    color: #020930;
  }
/* fin tableau*/
  .toggle-switch {
    position: relative;
    display: inline-block;
    align-items: flex-start;
    width: 50px;
    height: 20px;
  }
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  .toggle-switch .switch {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
  }
  .toggle-switch .switch::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    background-color: #aaa;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(28px);
    background-color:#03141471 ;
  }
  .toggle-switch input[type="checkbox"]:checked + .switch {
    background-color:#62df1a ;
  }


.loading{
  font-size: x-large;
  color: #020930;
  margin-left: 50%;
  width: 65%;
  padding-top: 10%;
}

.confirmation{
  position:absolute;
  background-color: #dadee0;
  border-radius: 5px;
  margin-right: 50%;
  padding: 3%;
  width: 350px;
  height: 150px;
  top:30%;
  right: 0px;
  left: 45%;
  float: left;
}
.texte-xonfirmation{
  padding: 2% 0% 0% 2%;
  margin-bottom: 3%;
}
.btn-conf{
 margin-left: 25%;
 padding: 2%;
 border-radius: 5px;
 border-style: none;
}
.confirmer{
  background-color: #62df1ac0;
}
.confirmer:hover{
  background-color: #62df1a;
  color: white;
  cursor: pointer;
}
.annuler{
  background-color: #eb32329d;
}
.annuler:hover{
  background-color: #f31c1c;
  color: white;
  cursor: pointer;
}