
.En-Savoir-Plus{
     margin-top: 10%;
    margin-left: 10%;
    padding: 10%;
    width: 100%;
}

.first img {
    margin-left: 2.5%;
}

.propos img {
    vertical-align: middle;
    width: 20%;
}

.first {
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 2%;
}

.first .context{
    width: 80%;
}


.second {
    display: block;
}

.second .context {
    display: block;
}

.line-title {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 2%;
}

.small_line {
    width: 22px;
    height: 5px;
    border-right: 0.5px solid #948181;
    background-color: #728197;
    transform: rotate(-90deg);
}

.final-list {
    display: block;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    margin-left: 7%;
}

.final-list li {
    margin-right: 150px;
}