/* Css de header simple*/

.Header-for-interface{
    box-shadow: 2px 1px #9dacb63d;
    padding: 0.8%;
    width: 80%;
    float: right;
    font-size: 15px;
}
.nav-container{
    display: flex;
    width: 26%;
    float: right;
    align-items: center;
}
.nav-elem{
    display: block;
    padding-left: 5%;
    align-items: center;
    color: #020930a4;
    text-align:left;
}
.elem{
    display: flex;
    align-items: center;
}

.profile-letters{
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: #fa7528;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.icon{
    width: 17px;
    height: 17px;
    color: #020930cb;
    padding-left: 2px;
    padding-right:5px;
}
/*Css du menu descendant du profil*/
.profil-content{
    background-color:rgb(218, 218, 245);
    border-radius: 4px;
    padding: 0.8%;
    width:16.01%;
    float: right;
    font-size: 15px;
    margin-right: 4%;
}
.profil-content::before{
    content: '';
    position: absolute;
    top:9%;
    right: 4.4%;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color:rgb(218, 218, 245);
    transform: rotate(45deg);
}
.profil-info{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 10%;
    border-bottom:solid 1px #9dacb63d;
}
.profil-info .prfl{
    height: 50px;
    width: 50px;
}
.prfl-m{
margin-left: 40%;
margin-bottom: 5%;
}

.profile , .log-out{
    display: flex;    
    padding: 5%;
    margin: 5%;
    align-items: center;
}

.profile a, .log-out a {
    text-decoration: none; 
    color:#020930;
}
.profile{
  
    border-bottom:solid 1px #9dacb63d; 
}

.icon-profil-menu{
    padding-right: 5%;
}

.profile:hover , .log-out:hover{
    border-radius: 4px;
    background-color:#4545464f;
   
    cursor: pointer;
}
/* Css de la bare à gauche the logo is perfect adjust please the other elements */

.left-nav-container{
    background-color: #020930;
    color: white;
    padding: 0.8%;
    font-size: 15px ;
    width: 22%;
    float: left;
    height: 100%;
    position: fixed;    
}

.lg {   
    width: 90%;
    height:90%; 
    margin-bottom: 10%;   
}

.left-elements{
    display: block;
    padding: 1% 1% 1% 2%;
    box-shadow: 0px 1px #9dacb63d;
    width: 98%;
    font-size: 15px;
    
    

}

.link { 
    display: flex;
    padding: 5%;
    margin: 5%;
    color: rgba(255, 255, 255, 0.452);
    align-items: center;
    text-decoration: none;
}
.active{
 
    display: flex;
    padding: 5%; 
    margin: 5%;
    color: rgba(255, 255, 255, 0.452);
    align-items: center;
    border-radius: 4px;
    background-color:#4545464f;
    cursor: pointer;  
    text-decoration: none;
  
}

.link:hover { 
   background-color:#4545464f;
   border-radius: 4px;
   color: #020930;
   cursor: pointer;
}

.link p{
  
    color: rgba(255, 255, 255, 0.452);
    padding-left: 5%;
    
}
.active p{
  
    color: rgba(255, 255, 255, 0.452);
    padding-left: 5%;
    
}

.active .icon-left{
    color: #020930;
}
/*page statiqtiques*/
.satat{
    display: flex;
    margin-bottom: 30%;
}

.chars-admin{
    display: flex;
    padding:3% 3% 0% 7%;
    margin-left: 18%;
    width: 82%;
    justify-content: space-between;
}
.char-titre{
    font-size: larger;
    color: #020930;
    margin-bottom: 10%;
}
.Bar-char{
   padding: 25px 12px 25px 12px;
    width: 450px;
    height: 450px;
    border: #020930 solid;
    border-width: 1px;
    border-radius: 10px;
}