@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.page-not-found{
  font-size: xx-large;
  margin-left: 37%;
  margin-top: 10%;
  color: red;
}